@model DoctorAvailabilityViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = "";
}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
@*<link href="~/css/homeviewmodel.css" rel="stylesheet" />*@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <style>
        body {
            background: #222D32;
            font-family: 'Roboto', sans-serif;
        }

        .login-title {
            margin-top: 15px;
            text-align: left;
            font-size: 30px;
            letter-spacing: 2px;
            margin-top: 15px;
            font-weight: bold;
            color: #ECF0F5;
            padding-left: 120px;
        }

        .title-1 {
            margin-top: 15px;
            text-align: left;
            font-size: 25px;
            letter-spacing: 2px;
            margin-top: 15px;
            font-weight: bold;
            color: #ECF0F5;
            padding-left: 120px;
        }


        .btn-success1 {
            border-color: #dee2e6;
            color: #212529;
            border-radius: 0px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 4px;
        }

        .project-title {
            margin-top: 8px;
            text-align: left;
            color: #9bc4f7;
            font-size: 18px;
        }

         .checkbox1{
            color: #ECF0F5;
        }

       
        
        /* .button1 {
            background-color: #4CAF50;
        }*/
        /* Green */

    </style>

    <title>@Model.PageTitle</title>
</head>

<body>
    <div class="container">
        <nav class="navbar  bg-dark navbar-dark">
            <label class="project-title">
                Medical Management Systems
            </label>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link" style="margin-left: 700px;">Home </a>
                </li>
                @*<li class="nav-item">
                        <a asp-action="index" asp-controller="home" class="nav-link">List </a>
                    </li>*@

            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <input type="hidden" id="useremail" name="useremail" value="@(Model.UserEmail = Model.UserEmail)" />
                    <input type="hidden" id="rolesname" name="rolesname" value="@(Model.RolesName = Model.RoleName)" />
                    <a class="nav-link" href="@Url.Action("usercontactdetails", "userregistrationcontroller", new { Model.UserEmail, Model.RolesName, Model.UserDetails})">Profile</a>
                </li>
            </ul>


        </nav>

    </div>


    <h1 class="login-title">@Model.PageTitle</h1>
    <form class="form-horizontal" action='' method="POST">
        <div class="box">
            <h3 class="title-1">Update Appointment</h3>
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part">

                            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                            <input type="hidden" id="useremail" name="useremail" value="@(Model.UserEmail = Model.UserEmail)" />

                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="9"> 9
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="9.30">  9.30
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="10">
                                10
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="10.30">
                                10.30
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="11">
                                11
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="11.30">
                                11.30
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="12">
                                12
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="12.30">
                                12.30
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="1">
                                1
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="5">
                                5
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="5.30">
                                5.30
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="6">
                                6
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="6.30">
                                6.30
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="7">
                                7
                            </div>
                            <div class="checkbox1">
                                <input type="checkbox" name="color" value="7.30">
                                7.30
                            </div>
                            <div class ="checkbox1">
                                <input type="checkbox" name="color" value="8">
                                8
                            </div>

                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>